# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# Environment
backend/.env

# Node
frontend/node_modules/

# Next
frontend/.next/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
backend/productivity.db
